h1 {
    color: black;
    font-size: 80px;
    font-weight: 700;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p {
    font-size: 35px;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
    margin: 35px;
}
.btn-custom{
  background-color: blue;
  color: white;

}
.btn-custom:hover{
    background-color: green;
    color: white;

}